@media screen and (max-width: 1200px)
.t-name_md {
    font-size: 18px;
}

.t-name_md {
    font-size: 20px;
    line-height: 1.35;
}
.t-name {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #000;
}
@media screen and (max-width: 960px)
.t510__textwrapper {
    padding-left: 20px!important;
}

.t510__textwrapper {
    padding-left: 40px;
}
.t-valign_middle {
    vertical-align: middle;
}
.t-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}
@media screen and (max-width: 960px)
.t510__circle {
    max-width: 40px;
    max-height: 40px;
    font-size: 18px!important;
    line-height: 40px!important;
}

.t510__circle {
    background-color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
}
.t-valign_middle {
    vertical-align: middle;
}
.t-heading {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #000;
}

@media screen and (max-width: 960px)
.t-container {
    max-width: 640px;
}

@media screen and (max-width: 1200px)
.t-container {
    max-width: 960px;
    padding: 0;
}
.t-container {
    max-width: 1200px;
}
.t-container, .t-container_10, .t-container_8 {
  padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
}
.t-valign_top {
    vertical-align: top;
}
.t-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}
@media screen and (max-width: 960px)
{
.t-prefix_1, .t-prefix_10, .t-prefix_11, .t-prefix_12, .t-prefix_2, .t-prefix_3, .t-prefix_4, .t-prefix_5, .t-prefix_6, .t-prefix_7, .t-prefix_8, .t-prefix_9 {
    padding-left: none;
  }
}
@media screen and (max-width: 960px){
.t-col {
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px){
.t-col, .t-col_1, .t-col_10, .t-col_11, .t-col_12, .t-col_2, .t-col_3, .t-col_4, .t-col_5, .t-col_6, .t-col_7, .t-col_8, .t-col_9 {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 960px){
.t-col, .t-container.flexx, .t-container_flex {
    display: block;
  }
}
@media screen and (max-width: 1200px)
{
.t-prefix_2 {
    padding-left: 160px;
  }
}
@media screen and (max-width: 1200px){
.t-col_8 {
    max-width: 620px;
  }
}
@media screen and (max-width: 1200px){
.t-col {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
}
.t-prefix_2 {
  padding-left: 170px;
}
.t-col_8 {
  max-width: 760px;
}
.t-col {
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}
@media screen and (max-width: 960px){
.t510__separator {
    margin-bottom: 40px!important;
  }
}
.t510__separator {
    margin-bottom: 55px;
}
.t-clear, .t-container:after, .t-container_100:after, .t-container_10:after, .t-container_8:after {
    clear: both;
}
